# 공공데이터포털 로그인 정보
DATA_PORTAL_ID=your_id_here
DATA_PORTAL_PW=your_password_here

# 공공데이터포털 Open API 키 (발급 후 입력)
DATA_PORTAL_API_KEY=your_api_key_here

# 데이터 저장 경로
RAW_DATA_DIR=./data/raw
PROCESSED_DATA_DIR=./data/processed
